body {
    background-color: #222; 
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  width: 100%;
}

  .container {
    background-color: #222;
    color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   
  }
  .logo {
    font-size: 3rem;
    font-weight: bold;
    color:#007bff;
  
    margin-top: 9px;
  }
  .menu {
    display: flex;
    list-style: none;
   
   
  }
  .menu li a {
    color: #edeef1;
    text-decoration: none;
    font-size: 30px;
  margin: 10px;
    transition: background-color 0.2s ease;
  }
  
.menu li a:hover {
    background-color: #007bff;
    border-radius: 30px;}
a {
    
    color: #edeef1;
    text-decoration: none;
    font-size: 1.1rem;
    
    transition: background-color 0.2s ease;}
a:hover {
      background-color: #007bff;
      border-radius: 30px; }
      /* Desktop css  */
.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    /* postion relative for parent */}
img{
   width : 90vw;
   /* top/bottom left/right */
    border-radius: 30px;
    position:relative;}
h1{
   
   font-size: 50px;
   position: absolute;
   top: 9%;
   left: 2%;
   color: #ffffff;
   background-color: #222;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   padding: 15px; }  
.card{
    width:300px;
    height:300px;
    text-align: center;
   border-radius: 10px;
    border: 5px solid #007bff;;
    background-color: #16375b;
    margin:10px;
    padding: 8px 30px;
    line-height: 1.5;} 
.centerCard{
  
  display: flex;
    flex-direction: row;
    justify-content: center;
    
 ;}
.start{
  text-align: start;}
 /* Exprience code  */
 .expirence{
  display: flex;
  flex-direction: row;

 }
 h3{
  margin: 0;
 }

  @media only screen and (max-width: 767px) {
    

    .logo{
      font-size: 25px;
    }
    .container {
      display: flex;
      width: 100vw;
      border-bottom: solid blue 5px;
      
    }
    .menu{
      width: 100vw;
      padding: 0;
      
    }
    .menu li a {
      font-size: 18px;
    font-weight: 700;
    }

   
    /* BANNER CODE  */
    .banner{
      width:100% ;
      align-items: center;
    }
    .image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px; 
      /* postion relative for parent */
     }

    img{
     width : 70vw;
     /* top/bottom left/right */
      border-radius: 30px;
      position:relative;
    }

    h1{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 23px;
     position: absolute;
     top: 10%;
     left: 2%;
     color: #007bff;
     background-color: #222;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     padding: 15px;
    
    }

    .card{
      width:auto;
      height: auto;
      text-align: center;
     border-radius: 10px;
      border: 5px solid #007bff;;
      margin:10px;
      padding: 8px 30px;
      line-height: 1.6;
    }
   .centerCard{
    
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   ;
   }
   .start{
    text-align: start;
   }

   /* Exprience code  */
   .expirence{
    display: flex;
    flex-direction: row;

   }
   h3{
    margin: 0;
   }
  
  }
